.btn-launch:hover + .container{
    transform: translate(0,-1200px);
    
}
.btn-launch{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    right: 50px;
    border-radius: 50%;
    color: white;
    background-color: black;
}
.container{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    position: absolute;
    top: 500px;
    transition: all 2s ease-in-out;
    transform: rotate(45);
}
.rocket-base{
    height: 210px;
    width: 80px;
    background-color: red;
    position: absolute;
    bottom: 90px;
    left: calc(50% - 40px);
}
.triangle {
    border-color: transparent transparent blue transparent;
    border-style: solid;
    border-width: 0px 40px 70px 40px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 300px;
    left: calc(50% - 40px);
}
.circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 50%;
    border: 2px solid black;
}
.circle2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 43%;
    border: 2px solid black;
}
.base-triangle{
    border-color: transparent transparent blue transparent;
    border-style: solid;
    border-width: 0px 80px 135px 80px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 90px;
    left: calc(50% - 80px);
    z-index: -1;
}
.bottom-triangle1{
    border-color: yellow transparent transparent transparent;
    border-style: solid;
    border-width: 50px 25px 0px 25px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 50px);
}
.bottom-triangle2{
    border-color: yellow transparent transparent transparent;
    border-style: solid;
    border-width: 50px 25px 0px 25px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 40px;
    left: calc(50%);
}